<h1> Artist </h1>

<p> <%= @artist.name %> </p>
<p> <%= @artist.title %> </p>
<%= link_to "Edit this artist", "/artists/#{@artist.id}/edit"%>


<% @artist.instruments.each do |instrument| %>

<%= instrument.name%>

<%end%>

